@import url('https://dl.dropbox.com/s/zqo41v8las6zvf9/app-revisited.css');
@import url('https://dl.dropboxusercontent.com/s/65tdpnvkzys1mv8/custom-ranks.css');
@import url('https://dl.dropboxusercontent.com/s/d12ol44caxbhc27/Wolf.css');

.icon {
    background-image: url('https://dl.dropboxusercontent.com/s/1nzgblxjnmvd4du/icons.png');
}
#room-bar .icon-room {
  background: url(http://i.imgur.com/JQF2vo3.png) 0 0 / 30px no-repeat;
}

/* remove Meh button
#meh {
    display: none;
	pointer-events: none;
}
rounding on grab
#grab {
    border-radius: 0 4px 4px 0;
}
#grab .bottom {
    border-radius: 0 0 4px 0;
}
make larger buttons to fit missing meh
#woot, #grab {
    width: 127px !important;
}
.video-only #woot, .video-only #grab {
  width: calc(50% - 42px) !important;
} */

/* Removing unwanted backgrounds */
#chat .badge-box,
.buttons .thumb .background {
    background: none;
}
/* Adding some transparency */
#woot, #grab, #meh, #dj-button,
.bottom, #dj-button .left,
#footer, .app-header, .app-right, .app-right .friends, #footer-user .info,
#playlist-panel, #search, #playlist-menu,
.media-list .selected .actions, .media-list .actions,
#user-rollover, #user-rollover .info, .thumb .background,
#user-settings, #user-communities, #user-history, #user-friends, #user-shop, #user-inventory, #user-profile,
#user-view, #user-menu,
#user-menu .item,
#woot-rs, #grab-rs, #meh-rs,
#woot-rs .title, #grab-rs .title, #meh-rs .title,
#app-menu, #app-menu .list,
#room-settings-menu {
    background: rgba(0,0,0,.5) !important;
}
/*less transparent things*/
#playlist-panel, #playlist-menu{
    background: rgba(0,0,0,.8) !important;
}

/* medium dark */
.back,
.row.selected,
#user-menu .selected,
#user-menu .item:hover,
.tab-menu button,
.experience .xp .bar,
.user-content.profile .notifications .row,
#app-menu:hover, #app-menu.open, #rs-skip-button, #history-button,
#app-menu .list .item:hover {
    background: rgba(100,100,100,.5) !important;
}
/* medium grey */
#user-lists .list .user:hover,
.buttons .button:hover,
.actions .action:hover,
.back:hover,
.tab-menu button:hover,
#room-settings-menu .item.selected,
#user-menu .count, .requests .count, .buttons .count, .request-count, .friends .header i {
    background: rgba(150,150,150,.5) !important;
}
/* grey */
.tab-menu button.selected {
    background: rgba(200,200,200,.5) !important;
}

#playback-controls {
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
}

/* App menu lower button */
#chat .delete-button, .rcs-delete,
#app-menu .logout, #rcs-unload {
    background: rgba(150,50,50,.2) !important;
    border: 1px solid rgba(250,50,50,.2) !important;
}
#chat .delete-button:hover, .rcs-delete:hover,
#app-menu .logout:hover, #rcs-unload:hover {
    background: rgba(150,50,50,.8) !important;
    border: 1px solid rgba(250,50,50,.8) !important;
}

#chat-input, #chat-input-field {
    background: none !important;
}
#chat .focused {
    -webkit-box-shadow: inset 0 0 0 1px #fff !important;
    -moz-box-shadow: inset 0 0 0 1px #fff !important;
    box-shadow: inset 0 0 0 1px #fff !important;
}

/*tooltips*/
#tooltip span, #tooltip.blue span {
    background: rgba(150,150,150,.8) !important;
}
#tooltip .corner {
    border-top: 10px solid transparent !important;
    border-right: 0px solid transparent !important;
    border-left: 10px solid rgba(150,150,150,.8) !important;
    border-bottom: 10px solid transparent !important;
}
#tooltip.right .corner {
    border-top: 10px solid rgba(150,150,150,.8) !important;
    border-right: 10px solid rgba(150,150,150,.8) !important;
    border-left: 10px solid transparent !important;
    border-bottom: 10px solid transparent !important;
}
